#VENV
venv/

#Data
Dogs-Cats/data
MoneyBrinterBRR/data

#Models
models/

MoneyBrinterBRR/.env
MoneyBrinterBRR/v4.1/features.json
MoneyBrinterBRR/v4.1/train.parquet
MoneyBrinterBRR/v4.1/validation.parquet
supervised/Dogs-Cats/data/

supervised/MoneyBrinterBRR/__pycache__/
supervised/MoneyBrinterBRR/v4.1
supervised/MoneyBrinterBRR/.env
FHE/main.py

supervised/Dogs-Cats/core.python*
