#VENV
venv/

#Data
supervised/Dogs-Cats/data/
supervised/NumerAI/data


#Compiled source
supervised/NumerAI/__pycache__/
supervised/NumerAI/v4.1
supervised/NumerAI/.env
supervised/Dogs-Cats/core.python*

#IDE Settings
pyproject.toml
.vscode/settings.json



#Local env variables
supervised/NumerAI/.env

#Models
APP/RealtimeObjectDetection/models/objectDetection/yolov8n.pt
supervised/NumerAI/models/
APP/Cifar10/*.h5
supervised/Dogs-Cats/*
